/.idea/
.php_cs.cache

/data/*
!/data/.htaccess
!/data/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/

/var/*
!/var/cache/
!/var/log/
!/var/cache/.gitkeep
!/var/log/.gitkeep

/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###var/cache/
var/log/
